<!-- FAQ section -->
    <div class="container-fluid anchor" id="faque">
      <div class="faqheader">
        <h2>Catering</h2>
        <p>El servicio de Catering busca acompañar esos momentos importantes y volverlos inolvidables a través de sabores frescos y saludables. A partir de tus ideas y presupuesto, haremos realidad tu sueño con un diseño de experiencia que dudará por mucho tiempo.</p>
        <p>Tennos en cuenta para tus:</p>
        <p>Eventos Empresariales</p>
        <p>Celebraciones en familia</p>
        <p>Brunch</p>
        <p>Diseño de dieta para programas especiales de ejercicio</p>
        <p>Cualquier oportunidad de sorprender a quien quieres</p>
      </div>
      <div class="cateringpics">
        <div class="row">
          <div class="col-md-3"><%= image_tag("IMG_20160224_220912 (2)a.jpg", :class => "img-responsive slides") %>
          </div>
          <div class="col-md-3"><%= image_tag("IMG_20160326_123559 (2)b.jpg", :class => "img-responsive slides") %>
          </div>
          <div class="col-md-3"><%= image_tag("IMG_20160329_134230 (2)c.jpg", :class => "img-responsive slides") %>
          </div>
          <div class="col-md-3"><%= image_tag("IMG_20160422_141656 (2)d.jpg", :class => "img-responsive slides") %>
          </div>
        </div>
      </div>
    </div><!-- end container faque -->