    <div class="container anchor" id="gallery">
      <div class="contacts">
        <h2>Ciencia de la Felicidad</h2>
        <div class="alternatives">
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <%= image_tag("Imagen 7.jpg", :class => "img-responsive") %>
              <div class="caption">
                <p>Viajar como modelo de Felicidad</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <%= image_tag("Imagen 8b.jpg", :class => "img-responsive") %>
              <div class="caption">
                <p>Meditando como medida de Gratitud en la Playa</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <%= image_tag("Imagen 9b.jpg", :class => "img-responsive") %>
              <div class="caption">
                <p>Meditando como medida de Gratitud en Casa</p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- alternatives -->
        <p>Considero la Ciencia de la Felicidad como el Arte de Merecer. Acercarse a ese ‘Yo Soy’ en primera persona singular y tiempo presente, resulta un desafío para todos nosotros con el ritmo acelerado de nuestra sociedad actualmente.  Muchas veces nuestros problemas familiares, íntimos y profesionales, parten de una concepción lejana de nuestra felicidad.  Cambiar el horizonte hedonista por un horizonte personal de descubrimiento es un viaje que te invito a iniciar.</p>
        <!--/div-->
        <%#= image_tag("Imagen 7.jpg", :class => "img-responsive slidezi") %>
        <!--p class="contactz">Viajar como modelo de Felicidad</p-->
        <p>Además la Ciencia de la Felicidad pretende que personas, equipos de trabajo, familias, e incluso comunidades en conflicto, encuentren a partir de temas de posiciones positivas psicológicas una mejor actitud ante sus desafíos del día a día e incluso una mejor disposición hacia la vida y sus constantes cambios y desafíos.</p>
        <%#= image_tag("Imagen 8b.jpg", :class => "img-responsive slidezi") %>
        <!--p class="contactz">Meditando como medida de Gratitud en la Playa</p-->
        <p>Entre las alternativas que encontrarás en la Ciencia de la Felicidad</p>
        <p>-Diarios de la Felicidad</p>
        <p>-Práctica de Escucha Activa</p>
        <p>-Actos de Generosidad</p>
        <p>-EmpatíayFelicidad</p>
        <p>-Perdón, Compasión y Generosidad</p>
        <p>-La Cooperación y la Construcción de Confianza</p>
        <p>-Técnicas de Meditación y Aplicación al Entorno Laboral</p>
        <p>-Autocompasión y resistencia</p>
        <p>-Beneficios de la Conciencia Plena en la Salud y Relaciones Interpersonales</p>
        <%#= image_tag("Imagen 9b.jpg", :class => "img-responsive slidezi") %>
        <!--p class="contactz">Meditando como medida de Gratitud en Casa</p-->
        <%= image_tag("Imagen 10a.jpg", :class => "img-responsive") %>
        <p class="contactz">Amigos en Fe</p>
      </div><!-- end contacts -->
      <!--div class="alternatives">
        <div class="row">
          <div class="col-md-4"><%#= image_tag("Imagen 7.jpg", :class => "img-responsive slides") %></div>
          <div class="col-md-4"><%#= image_tag("Imagen 8b.jpg", :class => "img-responsive slides") %></div>
          <div class="col-md-4"><%#= image_tag("Imagen 9b.jpg", :class => "img-responsive slides") %></div>
        </div>
      </div--><!-- alternatives -->
    </div><!-- end gallery -->