<div class="container-fluid anchor" id="bigpik">
        <div class="bigpicc">
          <!--img src="img/Imagen 1a.jpg" class="img-responsive"-->
          <%= image_tag("Imagen 1a.jpg", :class => "img-responsive") %>
          <p>Ponencia X Red Nacional de Prácticas Universidad del Norte 2015</p>
        </div>
        <div class="iintro">
          <p>Soy Maurow Gómez, un hombre en construcción constante de felicidad; apasionado por la vida, la educación y los buenos sabores; esta deliciosa mezcla me ha dejado un gran pasatiempo: Ser un coleccionista de buenos momentos. Mi proceso actual de formación consta de títulos en Ingeniería Administrativa de la Universidad Nacional de Colombia, especialización en Relaciones Públicas y Redes Sociales de Northwestern University y doble certificación de The Science of Happiness de Berkeley University con The Greater Good Institute.</p>
        </div>
      </div>