<div class="container anchor" id="hacemos">
      <div class="workintro">
        <h2>Inglés Vocacional - The English Trip</h2>
        <p>The English Trip es una plataforma de desarrollo comunicativo en idiomas de acuerdo a tus sueños, proyectos personales y profesionales, preocupándonos por responder a tus motivaciones y así generar un mayor impacto en el proceso de aprendizaje y referenciación cultural</p>
        <p>En The English Trip respondemos a las necesidades de aprendizaje de cada estudiante de manera personalizada, con diferentes guías que generan un referente de comprensión gramatical y cultural en los diferentes tiempos y formas comunicativas del idioma. Comprendemos que cada persona tiene unos marcos de aprendizaje diferentes, por lo tanto se generan experiencias comunicativas que desarrollan las habilidades necesarias que refuerzan el acercamiento y uso del idioma con procesos que comprenden técnicas psicológicas positivas de enseñanza.</p>
      </div>
      <div class="slidez">
        <!--img src="img/Imagen 5a.jpg" class="img-responsive slidezz"-->
        <%= image_tag("Imagen 5a.jpg", :class => "img-responsive slidezz") %>
        <p>Encuentro de Culturas – Universidad del Norte</p>
      </div>
      <div class="slidez">
        <!--img src="img/Imagen 6a.jpg" class="img-responsive slidezz"-->
        <%= image_tag("Imagen 6a.jpg", :class => "img-responsive slidezz") %>
        <p>Profe Invitado desde Washington, John Marble, descubriendo la riqueza cultural de Medellín en Salón Málaga</p>
      </div>
      
    </div><!-- end container -->