
    <!-- carousel -->
        <div class="container anchor" id="thecarousel">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <%= image_tag("Imagen 2a.jpg", :class => "img-responsive") %>
                <div class="carousel-caption"><p>Moderador Conversatorio Greennovation – Profesores Joan Fitzgerald Northeastern University y Armando Ortega Universidad Nacional de Colombia 2015</p>
                </div>
              </div>
              <div class="item">
                <%= image_tag("Imagen 3a.jpg", :class => "img-responsive") %>
                <div class="carousel-caption"><p>Póster Conferencia Mundial de Prácticas y Pasantías – Boston Park Plaza, Northeastern University 2016</p>
                </div>
              </div>
              <div class="item">
                <%= image_tag("Imagen 4a.jpg", :class => "img-responsive") %>
                <div class="carousel-caption"><p>Traductor Seminario Contextos del Conocimiento con el Doctor Peter Burke – Universidad Nacional de Colombia, Biblioteca Pública Piloto para Lationoamérica 2015</p>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div><!-- container end-->
    <div class="container anchor" id="abt">
        <div class="header leander">
          <h2>Inicio y Desarollo Profesional</h2>
        </div><!--end header--> 
        <div class="intro">
          <p>Mi rol como Coordinador de Prácticas Profesionales para la  Universidad de Colombia, Sede Medellín, me ha permitido consolidar habilidades de consejería vocacional, en la gestión oportuna de primeras experiencias de inserción laboral; a su vez, generando importantes convenios de cooperación en temas académicos y profesionales entre los diferentes centros de práctica a nivel nacional e internacional y la Universidad Nacional. Actualmente brindo un seminario de sensibilización profesional, donde se imparten temas de marketing personal, comunicación asertiva, competencias para trabajo en equipo y estrategias de resolución de conflictos, temas que buscan generar un alto impacto en los nuevos profesionales en sus diferentes centros de práctica.</p>
          <p>También dicto un espacio de formación en Inglés Vocacional para profesionales en áreas administrativas, trabajo social e inglés para pruebas internacionales.</p>
          <p>En diferentes organizaciones he dictado charlas y talleres de Felicidad Organizacional,  Búsqueda de la Felicidad, y La Importancia de la Gratitud y el Perdón; los cuales han permitido mejorar la dinámica de trabajo dentro estas oficinas, acercando a las personas a una referenciación positiva hacia la vida y los desafíos dentro de las empresas e instituciones.</p>
          <p>Mi proceso vivencial y formación en estos temas me han brindado una sensibilidad especial para entender este tipo de desafíos organizacionales, que fácilmente pueden ser mejorados a través de estos espacios de participación en la creación de Felicidad.</p>
        </div>
        <!--div class="anygoodpic">
          <%#= image_tag("Imagen 2a.jpg", :class => "img-responsive") %>
          <p>Moderador Conversatorio Greennovation – Profesores Joan Fitzgerald Northeastern University y Armando Ortega Universidad Nacional de Colombia 2015</p>
          <%#= image_tag("Imagen 3a.jpg", :class => "img-responsive") %>
          <p>Póster Conferencia Mundial de Prácticas y Pasantías – Boston Park Plaza, Northeastern University2016</p>
          <%#= image_tag("Imagen 4a.jpg", :class => "img-responsive") %>
          <p>Traductor Seminario Contextos del Conocimiento con el Doctor Peter Burke – Universidad Nacional de Colombia, Biblioteca Pública Piloto para Lationoamérica 2015</p>
        </div-->
    </div><!-- end container abt -->
    