<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<div class="container-fluid anchor">
  <!--div class="row"-->
    <%= render "article" %>
  <!--/div-->
  <%= will_paginate @articles, :style => 'color:blue' %>
</div>

<br>

<%= link_to 'New Article', new_article_path %>
<%#= console %>