<p id="notice"><%= notice %></p>

<div class="container-fluid anchor blogpage" id="blogpagez">
  <h1>Mi blog</h1>
  <!--div class="row"-->
    <%= render "article" %>
  <!--/div-->
  <%= will_paginate @articles, :style => 'color:blue' %>
</div>

<br>

<%# if user_signed_in? %><%= link_to 'New Article', new_article_path %><%# end %>
<%#= console %>