// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** Navigation bar typography ***/

.navbar-inverse .navbar-nav>li>a:hover {
	color: #436EEE;
}

.navbar-inverse {
	background-color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a {
	color: black;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.navbar-inverse {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
}

.navbar-fixed-top {
	border: none;
}

.home a {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	color: black;
	background-color: transparent;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
	font-size: 1.5em;
	padding: 0 15px;
}

/*** Navigation bar layout ***/

.nav {
  z-index: 1;
}

.anchor {
	padding-top: 80px;
}

.navbar-inverse {
	padding-left: 1em;
	padding-right: 1em;
}

.navbar-brand {
	margin-top: 10px;
}

body {
  position: relative;
}

.navbar-right {
	margin-top: 10px;
}

.nav {
	margin-bottom: 30px;
}

/*** First page layout ****/

.bigpicc {
	width: 100%;
	/*margin: 0 auto;*/
	margin-bottom: 5em;
}

.bigpicc p {
	text-align: center;
}

.iintro {
	width: 80%;
	margin: 0 auto;
}

#bigpik {
	margin-top: 5em;
}

/*** First page typography ***/

.bigpic, p {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	font-size: 1.2em;
}

.iintro {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	font-size: 1.2em;
}

/*** Carousel ***/

.carousel {
	width: 100%;
	margin: 0 auto;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.carousel-caption p {
	font-size: 0.8em
}

/*** About page layout ***/

* { box-sizing: border-box; }

.leander h2 {
	text-align: center;
}
	
#abt {
	margin-top: 5em;
}

.intro {
	margin-bottom: 5em;
}

.anygoodpic {
	width: 80%;
	margin: 0 auto;
} 

.anygoodpic p {
	text-align: center;
}

/**** About Typography ***/

.leander h2 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.leander h2:hover {
	color: #436EEE;
	text-decoration: none;
}

.intro, p {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	font-size: 1.2em;
}

body {
  background-color: #FFFFFF;
  color: #34495e;
}

.anygoodpic p {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
}

/*** Hacemos layout ***/

.slides {
	margin-top: 25px;
}

.workintro h2 {
	text-align: center;
}

.workintro {
	margin-bottom: 5em;
}

.slidezi {
	width: 80%;
	margin: 0 auto;
}

.slidez {
	width: 80%;
	margin: 0 auto;
}

.slidez p {
	text-align: center;
	margin-bottom: 30px;
}

#hacemos {
	margin-bottom: 5em;
	margin-top: 5em;
}

/*** Hacemos typography ***/

.workintro h2 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
}

.workintro, p {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	font-size: 1.2em;
}

.workintro h2:hover {
	color: #436EEE;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

/*** Gallery layout***/

#gallery {
	width: 80%;
	margin: 0 auto;
}

#gallery {
	margin-bottom: 5em;
	margin-top: 5em;
}

.contacts h2 {
	text-align: center;
}

/*** Gallery typography***/

.contactz {
	text-align: center;
}

.contacts h2:hover {
	color: #436EEE;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.contacts h2 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
}

.contacts, p {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	font-size: 1.2em;
}

/*** FAQ page Typography ***/

.faqheader h2 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.faqheader h2:hover {
	color: #436EEE;
	text-decoration: none;
}

.faqheader, p {
	font-size: 1.2em;
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
}

/*** FAQ page layout ***/

.faqheader h2 {
	text-align: center;
	padding-top: 10px;
}

#faque {
	width: 80%;
	margin: 0 auto;
	margin-top: 5em;
}

/*** Contact page layout ***/

.my_class {
	text-align: center;
}

.form-group {
	text-align: left;
}

/*** Footer  layout ***/

.copyright {
	/*display: block;*/
	text-align: center;
	padding-top: 4em;
	margin-top: 5em;
}

/*** sticky footer code ***/

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
  background: #E3EEF7;
}

/*** Media queries ***/

@media (max-width: 480px) {
 	.contacts, h2 {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
 	#kntkto {
 		background-attachment: scroll;
  }
}

@media only screen and (max-width: 480px) {

   h1, h2 {
      font-size: 2em;
   }

   h3 {
      font-size: 1.5em;
   }

}

@media (max-width: 480px) {
	.navbar-brand {
	margin-top: 1px;
	}
}

/*@media (max-width: 768px) {
 	.thumbnail {
	height: 30em ;
	}
}

@media (max-width: 480px) {
 	.thumbnail {
	height: 18em ;
	}
}*/




