// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*** Navigation bar typography ***/

.navbar-inverse .navbar-nav>li>a:hover {
	color: #436EEE;
}

/*.navbar-inverse .navbar-brand a:hover {
	color: #ff0;
}*/

.navbar-inverse {
	background-color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a {
	color: black;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.navbar-inverse {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}

.navbar-fixed-top {
	border: none;
}

.home a {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	color: black;
	background-color: transparent;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
	font-size: 1.5em;
	padding: 0 15px;
}

/*** Navigation bar layout ***/

.nav {
  z-index: 1;
}

.anchor {
	padding-top: 80px;
}

.navbar-inverse {
	padding-left: 20px;
	padding-right: 20px;
}

.navbar-brand {
	/*margin-top: 10px;*/
	/*margin-top: -2.5em;*/
	margin-top: 10px;
}

body {
  position: relative;
}

.navbar-right {
	margin-top: 10px;
}

.nav {
	margin-bottom: 30px;
	/*height: 80px;*/
}

/*** Carousel ***/

.carousel {
	width: 100%;
	margin: 0 auto;
}

.carousel {
	margin-top: 30px;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.carousel-caption p {
	font-size: 0.8em
}
/*** First page layout ****/

.bigpicc {
	width: 100%;
	/*margin: 0 auto;*/
	margin-bottom: 5em;
}

.bigpicc p {
	text-align: center;
}

.iintro {
	width: 80%;
	margin: 0 auto;
}

/*** About page layout ***/

* { box-sizing: border-box; }

/*.abouta {
	width: 80%;
	margin: 0 auto;
}*/

.leander h2 {
	text-align: center;
}

/*.intro p {
	text-align: left;
}*/
	
#abt {
	margin-top: 5em;
}	

.intro {
	margin-bottom: 5em;
}

.anygoodpic p {
	text-align: center;
}

.any {
	margin-top: 30px;
}

/**** About Typography ***/

.leander h2 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.leander h2:hover {
	color: #436EEE;
	text-decoration: none;
}

.intro p {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
}

body {
  background-color: #FFFFFF;
  color: #34495e;
}

/*** Hacemos layout ***/

.slides {
	margin-top: 25px;
}

.workintro h2 {
	text-align: center;
}

.workintro {
	margin-bottom: 5em;
}

.slidezi {
	width: 80%;
	margin: 0 auto;
}

.slidez p {
	text-align: center;
	margin-bottom: 30px;
}

#hacemos {
	margin-bottom: 5em;
}

/*** Hacemos typography ***/

.workintro h2 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
}

.workintro p {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
}

.workintro h2:hover {
	color: #436EEE;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

/*** Gallery ***/

#gallery {
	width: 80%;
	margin: 0 auto;
}

#gallery {
	margin-bottom: 5em;
}

.thumbnail {
	height: 252.5px ;
}

/*** FAQ page Typography ***/

.faqheader h2 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.faqheader h2:hover {
	color: #436EEE;
	text-decoration: none;
}

/*** FAQ page layout ***/

.faqheader h2 {
	text-align: center;
	padding-top: 10px;
}

.my_class {
	text-align: center;
}

.form-group {
	text-align: left;
}


/*** Fotos ***/

.contactz {
	text-align: center;
}

/*#thumbnailImage {
	margin-top: 5px;
}*/

.contacts h2:hover {
	color: #436EEE;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.contacts h2 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
}

/*** Contact page Typography ***/


/*** Footer ***/

.copyright {
	display: block;
	text-align: center;

}

.facebook {
	display: block;
	text-align: center;
	max-width: 100%;
}

/*** Media queries ***/

@media (max-width: 480px) {
 	.contacts, h2 {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
 	.faq {
 		margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 1200px) {
	.faq {
		padding: 0 200px;
	}
}

@media (max-width: 480px) {
 	#kntkto {
 		background-attachment: scroll;
  }
}

@media only screen and (max-width: 480px) {

   h2 {
      font-size: 3em;
   }

   h3 {
      font-size: 2em;
   }

}


@media (max-width: 768px) {
 	.thumbnail {
	height: 30em ;
	}
}

@media (max-width: 480px) {
 	.thumbnail {
	height: 18em ;
	}
}




